@keyframes ldio-2zfm77nua0x {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.55, 1.55);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-2zfm77nua0x div > div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1567e1;
  animation: ldio-2zfm77nua0x 0.689655172413793s linear infinite;
}

.ldio-2zfm77nua0x div:nth-child(1) > div {
  left: 66px;
  top: 46px;
  animation-delay: -0.6034482758620688s;
}

.ldio-2zfm77nua0x > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 70px 50px;
}

.ldio-2zfm77nua0x div:nth-child(2) > div {
  left: 60px;
  top: 60px;
  animation-delay: -0.5172413793103448s;
}

.ldio-2zfm77nua0x > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 64px 64px;
}

.ldio-2zfm77nua0x div:nth-child(3) > div {
  left: 46px;
  top: 66px;
  animation-delay: -0.43103448275862066s;
}

.ldio-2zfm77nua0x > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 70px;
}

.ldio-2zfm77nua0x div:nth-child(4) > div {
  left: 32px;
  top: 60px;
  animation-delay: -0.3448275862068965s;
}

.ldio-2zfm77nua0x > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 36px 64px;
}

.ldio-2zfm77nua0x div:nth-child(5) > div {
  left: 26px;
  top: 46px;
  animation-delay: -0.2586206896551724s;
}

.ldio-2zfm77nua0x > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 30px 50px;
}

.ldio-2zfm77nua0x div:nth-child(6) > div {
  left: 32px;
  top: 32px;
  animation-delay: -0.17241379310344826s;
}

.ldio-2zfm77nua0x > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 36px 36px;
}

.ldio-2zfm77nua0x div:nth-child(7) > div {
  left: 46px;
  top: 26px;
  animation-delay: -0.08620689655172413s;
}

.ldio-2zfm77nua0x > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 30px;
}

.ldio-2zfm77nua0x div:nth-child(8) > div {
  left: 60px;
  top: 32px;
  animation-delay: 0s;
}

.ldio-2zfm77nua0x > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 64px 36px;
}

.loadingio-spinner-spin-selp6mllsd {
  width: 98px;
  height: 98px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-2zfm77nua0x {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.98);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-2zfm77nua0x div {
  box-sizing: content-box;
}